<%= form_with(model: grupo, html: {class: "form-horizontal"}) do |form| %>
<% if grupo.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

  <ul>
    <% grupo.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% unless notice.blank? %>
<div class="alert alert-warning">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="form-inputs">

  <fieldset>
    <legend>Grupo</legend>

    <div class="row">
      <div class="form-group col-md-4">
        <%= form.label :nome, class: 'col-md-4 control-label' %>
        <div class="col-md-4">
          <%= form.text_field :nome, class: "form-control" %>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="col-md-12 text-center">
    <%= form.submit("Salvar", class: "btn btn-sm btn-primary") %>
  </div>
</div>
<% end %>
