<%= form_with(model: extracao, local: true, html: {class: "form-horizontal"}) do |form| %>
<% if extracao.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
  <h2><%= pluralize(extracao.errors.count, "erro") %> encontrado:</h2>

  <ul>
    <% extracao.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% unless notice.blank? %>
<div class="alert alert-warning">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="form-inputs">

  <fieldset>
    <legend>Dados Comuns</legend>
    <%= render "/extracaos/partials/form_dadoscomuns", form: form %>

  </fieldset>

  <fieldset>
    <legend>Datas</legend>
    <%= render "/extracaos/partials/form_datas", form: form %>

  </fieldset>

  <fieldset>
    <legend>Dados do Documento</legend>
    <%= render "/extracaos/partials/form_dadosdodoc", form: form %>
    
  </fieldset>

  <fieldset>
    <legend>Dados do Bancários do Beneficiário</legend>
    <div class="row">

      <div class="form-group col-md-4">
        <%= form.label :banco, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= form.select(:banco, options_for_select(Banco.all.map {|x| [x.fullname, x.codigo]}, form.object.banco), {include_blank: true}, { class: 'form-control', id: :banco}) %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= form.label :agencia, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= form.text_field :agencia, class: "form-control", id: :agencia %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= form.label :contafavorecido, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= form.text_field :contafavorecido, class: "form-control", id: :contafavorecido %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <%= form.label :credor, class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= form.text_field :credor, class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= form.label :valor, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= form.text_field :valor, class: "form-control" %>
        </div>
      </div>


      <div class="form-group col-md-4">
        <%= form.label :grupo, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= form.collection_select(:grupo_id, Grupo.all.order(:nome), :id, :nome, {include_blank: false, required: true}, {class: "form-control"}) %>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="col-md-12 text-center">
    <%= form.submit(t(:save_and_new), class: "btn btn-sm btn-primary") %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $("input.date-inp").datepicker({
      dateFormat: 'dd/mm/yy',
      dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
      dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
      nextText: 'Próximo',
      prevText: 'Anterior'
    });
  })

  function changeTipoOb(e){
    if (e.value == "OBP"){
      $("#banco").val("1").attr("readonly", true);
      $("#agencia").val($("#agenciaug").val()).attr("readonly", true);
      $("#contafavorecido").val("PAGAMENTO").attr("readonly", true);
    } else {
      $("#banco").val("").attr("readonly", false);
      $("#agencia").val("").attr("readonly", false);
      $("#contafavorecido").val("").attr("readonly", false);
    }
  }
</script>