<div class="col-md-4 pull-right">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Pesquisar e Exportar
		</div>

		<%= form_tag search_extracaos_path, method: "GET" do %>
		<div class="panel-body">

			<div class="form-group col-md-6">
				<%= label_tag :date, "Data" %>
				<%= text_field_tag "search[date]", Time.now.to_date.strftime("%d/%m/%Y"), class: "form-control date-inp" %>
			</div>

			<div class="form-group col-md-6">
				<%= label_tag :sequencial, t(:sequencial) %>
				<%= number_field_tag "search[sequencial]", 1, class: "form-control" %>
			</div>

			<div class="form-group col-md-12 text-center">
				<%= label_tag :format, t(:formato) %>
				<%= select_tag("format", options_for_select(["xml", "xlsx", ["Editar em Massa", "edit"]]), {class: 'form-control'}) %>
			</div>
		</div>

		<div class="panel-footer text-center">
			<%= submit_tag("Gerar", class: "btn btn-sm btn-primary") %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("input.date-inp").datepicker({
			dateFormat: 'dd/mm/yy',
			dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
			dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
			dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
			monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
			monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
			nextText: 'Próximo',
			prevText: 'Anterior'
		});
	})
</script>