<div class="col-md-4 pull-right">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Pesquisar e Exportar
		</div>

		<%= form_tag search_extracaos_path, method: "GET" do %>
		<div class="panel-body">

			<div class="form-group col-md-4">
				<%= label_tag :mes, "Mês" %>
				<%= number_field_tag "search[mes]", Time.now.to_date.strftime("%m"), class: "form-control" %>
			</div>

			<div class="form-group col-md-4">
				<%= label_tag :sequencial, t(:sequencial) %>
				<%= number_field_tag "search[sequencial]", 1, class: "form-control" %>
			</div>

			<div class="form-group col-md-4">
				<%= label_tag :grupo, t(:grupo) %>
				<%= select_tag("search[grupo_id]", options_for_select(Grupo.all.collect {|x| [x.nome, x.id]}), {include_blank: false, required: true, class: "form-control" }) %>
			</div>

			<div class="form-group col-md-12 text-center">
				<%= label_tag :format, t(:action) %>
				<%= select_tag("format", options_for_select(["Gerar xml", "xlsx", ["Editar em Massa", "edit"], ["Remover em Massa", "bulk_destroy"]]), {class: 'form-control'}) %>
			</div>
		</div>

		<div class="panel-footer text-center">
			<%= submit_tag("Executar", class: "btn btn-sm btn-primary") %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("input.date-inp").datepicker({
			dateFormat: 'dd/mm/yy',
			dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
			dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
			dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
			monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
			monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
			nextText: 'Próximo',
			prevText: 'Anterior'
		});
	})
</script>