<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Copiar do Mês e Editar
    </div>

    <%= form_tag copiar_extracaos_path do %>
    <div class="panel-body">

      <div class="col-md-12">
        <div class="row">
          <legend>De</legend>
          <div class="col-md-2">
            <%= label_tag :mes, "Mês De:" %>
            <br />
            <%= number_field_tag "mes_de", Time.now.to_date.month, style: "width: 70%", required: true, class: "reloadme" %>
          </div>
          <div class="col-md-2">
            <%= label_tag :ano, "Ano De:" %>
            <br />
            <%= number_field_tag "ano_de", Time.now.to_date.year, style: "width: 70%", required: true, class: "reloadme" %>
          </div>
          <div class="col-md-2">
            <%= label_tag :sequencial, "Seq De:" %>
            <br />
            <%= number_field_tag "sequencial_de", 1, style: "width: 70%", required: true, class: "reloadme" %>
          </div>
          <div class="col-md-5">
            <%= label_tag :grupo_de, "Grupo De:" %>
            <br />
            <%= select_tag("grupo_de", options_for_select(Grupo.all.collect {|x| [x.nome, x.id]}), {include_blank: false, required: true, style: "width: 50%;", class: "reloadme" }) %>
          </div>

          <div class="col-md-2">
            <%= label_tag :grupo_de, "Registros estimados:" %>
            <span class="estimated"></span>
          </div>
        </div>

        <br />

        <div class="row">
          <legend>Para</legend>
          <div class="col-md-2">
            <%= label_tag :mes, "Mês Para:" %>
            <br />
            <%= number_field_tag "mes_para", Time.now.to_date.month+1, style: "width: 70%", required: true %>
          </div>
          <div class="col-md-2">
            <%= label_tag :ano, "Ano para:" %>
            <br />
            <%= number_field_tag "ano_para", Time.now.to_date.year, style: "width: 70%", required: true %>
          </div>
          <div class="col-md-2">
            <%= label_tag :sequencial, "Seq Para:" %>
            <br />
            <%= number_field_tag "sequencial_para", 1, style: "width: 70%", required: true %>
          </div>
          <div class="col-md-5">
            <%= label_tag :grupo_para, "Grupo Para:" %>
            <br />
            <%= select_tag("grupo_para", options_for_select(Grupo.all.collect {|x| [x.nome, x.id]}), {include_blank: false, required: true, style: "width: 50%;" }) %>
          </div>          
        </div>
        
        <br />

        <div class="row">
          <legend>Dados</legend>

          <div class="col-md-4">
            <%= label_tag :data, t(:data) %>
            <br />
            <%= text_field_tag :data, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

          <div class="col-md-4">
            <%= label_tag :dataemissao, t(:dataemissao) %>
            <br />
            <%= text_field_tag :dataemissao, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

          <div class="col-md-4">
            <%= label_tag :datavencimento, t(:datavencimento) %>
            <br />
            <%= text_field_tag :datavencimento, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <%= label_tag :dataateste, t(:dataateste) %>
            <br />
            <%= text_field_tag :dataateste, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

          <div class="col-md-4">
            <%= label_tag :datapagamento, t(:datapagamento) %>
            <br />
            <%= text_field_tag :datapagamento, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

          <div class="col-md-4">
            <%= label_tag :dtemissaodocorigem, t(:dtemissaodocorigem) %>
            <br />
            <%= text_field_tag :dtemissaodocorigem, Time.now.to_date.strftime("%d/%m/%Y"), class: "col-md-7 date-inp", required: true %>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <%= label_tag :observacao, t(:observacao) %>
            <br />
            <%= text_area_tag :observacao, Extracao.first.observacao, required: true, cols: 50, rows: 5 %>
          </div>

          <div class="col-md-6">
            <%= label_tag :numerodocorigem, t(:numerodocorigem) %>
            <br />
            <%= text_field_tag :numerodocorigem, Extracao.first.numerodocorigem, required: true %>
          </div>

        </div>
      </div>
    </div>

    <div class="panel-footer text-center">
      <%= submit_tag("Copiar", class: "btn btn-primary") %>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("input.date-inp").datepicker({
      dateFormat: 'dd/mm/yy',
      dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
      dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
      nextText: 'Próximo',
      prevText: 'Anterior'
    });

    $("input.reloadme, select.reloadme").on("keyup change", function(){
      $.ajax({
        url: '/<%= ENV['HOSTNAME'] %>' + Routes.contagem_extracaos_path({ format: 'json' }),
        data: {
          mes_de: $("input[name='mes_de']").val(),
          ano_de: $("input[name='ano_de']").val(),
          sequencial_de: $("input[name='sequencial_de']").val(),
          grupo_de: $("select[name='grupo_de']").val(),
        },
        success: function(data){
          $("span.estimated").html(data.conta);
        },
      });
    });
  })
</script>