<div class="row">
  <div class="form-group col-md-12">
    <%= form.label :observacao, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_area :observacao, class: "form-control" %>
    </div>
  </div>

</div>
<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :processodh, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_field :processodh, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :numerodocorigem, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_field :numerodocorigem, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :situacao, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_field :situacao, class: "form-control" %>
    </div>
  </div>

</div>
<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :empenho, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_field :empenho, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :contavpd, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.number_field :contavpd, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :centrodecusto, class: 'col-md-2 control-label' %>
    <div class="col-md-8">
      <%= form.text_field :centrodecusto, class: "form-control" %>
    </div>
  </div>

</div>
<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :codigosiorg, class: 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= form.number_field :codigosiorg, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :tipoob, class: 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= form.select(:tipoob, options_for_select(["OBC", "OBP"], form.object.tipoob), {include_blank: false}, {class: 'form-control', onchange: "javascript:changeTipoOb(this);"}) %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :tipodh, class: 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= form.text_field :tipodh, class: "form-control" %>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :contapagadora, class: 'col-md-2 control-label' %>
    <div class="col-md-4">
      <%= form.text_field :contapagadora, class: "form-control" %>
    </div>
  </div>

</div>