<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :dataemissao, class: 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= form.text_field :dataemissao, class: "form-control date-inp" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :datavencimento, class: 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= form.text_field :datavencimento, class: "form-control date-inp" %>
    </div>
  </div>

</div>
<div class="row">

  <div class="form-group col-md-4">
    <%= form.label :dataateste, class: 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= form.text_field :dataateste, class: "form-control date-inp" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :datapagamento, class: 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= form.text_field :datapagamento, class: "form-control date-inp" %>
    </div>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :dtemissaodocorigem, class: 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= form.text_field :dtemissaodocorigem, class: "form-control date-inp" %>
    </div>
  </div>

</div>