<!DOCTYPE html>
<html>
<head>
	<title>Finhelp</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%= if authorized? 
			render "layouts/menu" 
		end 
	%>

	<div class="container-fluid">
		<div class="row" style="margin: 1pt">
			<%= yield %>
		</div>
	</div>

</body>
</html>